html, body {
    margin: 0;
    padding: 0;
    
  }
  canvas {
    display: block;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
h1{
   color:blue;
   font-size:100px;
}
@keyframes example{
    from {
        box-shadow: 1px 1px 38px yellow;
    }
    to {
        box-shadow: 1px 1px 38px rgb(5, 231, 247);
    }
    
}